
@{
    ViewBag.Title = "CheckOut";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cazual Check Out</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="jquery-3.5.1.min.js"></script>
    <script>
        var userIP;
        var cartItems = [];
        var cellSum; 
        //got to do this in order for elements to be loaded.
        function loadItems() {
            checkKey();
            setTimeout(() => {
                ShowCart();
            }, 1000)
        }


        function checkKey() {
            $.getJSON('https://api.bigdatacloud.net/data/ip-geolocation?key=' + '5a273d09f0d7448cbffb73056953fc83', function (data) {
                userIP = data.ip;
            });
        }


        function ShowCart() {
            var userCart = sessionStorage.getItem(userIP);

            var itemArray = userCart.split(',');
            var MyTable, row, cell1, cell2, cell3, removeFunc;
            var r = 0, sum = 0;
            for (var x = 0; x <= (itemArray.length)-3; x+=3) {
                MyTable = document.getElementById("checkOutCart");
                row = MyTable.insertRow(r);
                cell1 = row.insertCell(0);
                cell2 = row.insertCell(1);
                cell3 = row.insertCell(2);
                removeFunc = "removeItem('" + itemArray[x] + "')";
                cell1.style.color = 'white';
                cell1.innerHTML = itemArray[x+1].toString() + " <br> " + "$"+ itemArray[x+2].toString() + ".00";
                cell2.innerHTML = "<img src= /Imgs/" + itemArray[x] + " width=90% style='padding: 15px; max-width: 200px'>";
                cell3.innerHTML = "<h4 onclick=" + removeFunc + " style='color:blue; padding: 10px; cursor: pointer'>Remove</h4>";
                r++;
                sum += parseFloat(itemArray[x + 2]);

                cartItems.push(itemArray[x].toString());
                cartItems.push(itemArray[x+1].toString());
                cartItems.push(itemArray[x+2].toString());
            }
            debugger;
            @*row = MyTable.insertRow(r);
            cellSum = row.insertCell(0);
            cellSum.style.color = 'white';
            sum = sum.toFixed(2);
            cellSum.innerHTML = "<hr/><br>Total: $" + sum;
            cellSum.style.padding = '15px';
            var cellGap = row.insertCell(1);
            cellGap.innerHTML = "";
            var cellPay = row.insertCell(2);
            cellPay.style.padding = '15px';
            cellPay.innerHTML = "<button style='float: right; background-color: blue; color: white; border-radius: 4px; width: 18vw'>Pay Now</button>"*@


        }

 
        function removeItem(id) {

            // Remove from table and cartItems
            const index = cartItems.indexOf(id);
            if (index > -1) {
                cartItems.splice(index, 3);
            }

            var MyTable = document.getElementById("checkOutCart");
            var found = false;
            var toFind = "<img src=\"/Imgs/" + id + "\" width=\"90%\" style=\"padding: 15px; max-width: 200px\">"
            for (var i = 0, row; row = MyTable.rows[i]; i++) {
                if (found)
                    break;

                for (var j = 0, col; col = row.cells[j]; j++) {
                    if (col.innerHTML == toFind.toString()) {
                        MyTable.deleteRow(i);
                        found = true;
                        break;
                    }
                }
            }




            var sum = 0;
            var userCart = sessionStorage.getItem(userIP);
            var itemArray = cartItems;
            debugger;
            for (var x = 0; x <= (itemArray.length) - 3; x += 3) {
                sum += parseFloat(itemArray[x+2].toString());
            }
            cellSum.innerHTML = "<hr/><br>Total: $" + sum.toFixed(2);
            //TO DO clean up the session. there seems to be some problems with clearing out the old item. problem only happens when removing an item and going back to view items. 
            sessionStorage.clear();
            sessionStorage.setItem(userIP, itemArray);
            sessionStorage.getItem(userIP);
        }
        

    </script>
</head>
<body onload="loadItems()">
    <div id="Cart">
        <table id="checkOutCart" style="text-align:center; width: 100%; max-width: 100%; margin-bottom: 20px">
        </table>
    </div>

</body>
</html>
