@using WebApplication1.Models;
@model Event

<div>
    <div style="margin: 20px">
        <p>Summary: @Model.Summary</p>
        <p>Description: @Model.Description</p>
        <p>Start: @Model.Start.DateTime</p>
        <p>End: @Model.End.DateTime</p>
    </div>

</div>