@{
    ViewBag.Title = "Home Page";
}
<div style="background-color: lightyellow; width:100%; text-align:center">updates here</div>
<div class="jumbotron" style="background-image: url(/Imgs/pnwBubble.png); background-size:contain; background-repeat:no-repeat; background-position: right; background-color: rgba(47,47,47);">
    <h1 style="color: rgba(190,190,190)">Cazual Entertainment</h1>
    <h4 class="lead" style="color: darkgreen">THE BEST ENTERTAINMENT IN THE PNW.</h4>
    <p><a href="/CalendarEvent/AllEvents" class="btn btn-primary btn-lg">See Events &raquo;</a></p>
</div>


<button class="btn btn-primary" style="margin-top: 20px;" onclick="location.href = '@Url.Action("OauthRedirect", "Home")'">Sign In</button>
<button class="btn btn-primary" style="margin-top: 20px; margin-left: 10px;" onclick="location.href = '@Url.Action("RefreshToken", "OAuth")'">Refresh Token</button>
<button class="btn btn-primary" style="margin-top: 20px; margin-left: 10px;" onclick="location.href = '@Url.Action("RevokeToken", "OAuth")'">Revoke Token</button>


<div id="event">
    @RenderPage("~/Views/CalendarEvent/CreateEvent.cshtml")
</div>
